:root {
  --bodycolor: #cbecec;
  --background: #fff;
  --fuente: #161516;
  --green: #006400;
  --blue: #0000ff;
}
body {
  background-color: var(--bodycolor);
}
header a {
  text-decoration: none;
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
  color: var(--fuente);
}
.DATOS-PERSONALES {
  background-color: var(--background);
  text-align: center;
  /* display: flex; */
}
.ESTUDIOS-REALIZADOS {
  background-color: var(--background);
  text-align: center;
  /* display: flex; */
}
.EXPERENCIA-LABORAL {
  background-color: var(--background);
  text-align: center;
  /* display: flex; */
}
.REFERENCIAS-PERSONALES {
  background-color: var(--background);
  text-align: center;
  /* display: flex; */
}
.REFERENCIA {
  border-style: solid;
  margin-left: 20px;
  margin-top: 10px;
  border-color: var(--blue);
}

h2 {
  text-align: center;
  background-color: var(--green);
  border-radius: 50px;
}
.IMG-PERSONAL img {
  width: 150;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  right: 200px;
}
